body {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #87509c;
  padding: 5px;
  height: 300px;
}
header h2 {
  font-weight: bold;
  font-family: cursive;
  margin-top: 0;
  display: inline;
}
header .menu-container {
  position: relative;
}
header .menu-icon {
  display: none;
  float: right;
  font-size: large;
  margin-right: 20px;
  margin-top: -5px;
  cursor: pointer;
  transition: 0.3s;
}
@media (min-width: 481px) and (max-width: 767px) {
  header .menu-icon {
    display: block;
  }
}
header .slack-menu {
  display: block;
  padding-top: -20px;
  right: 60px;
}
@media (min-width: 480px) and (max-width: 767px) {
  header .slack-menu {
    display: none;
  }
}
header .slack-menu a {
  margin-right: 30px;
  color: white;
  text-decoration: none;
}
header .slack-menu a:hover {
  background-color: rgb(59, 14, 59);
}

.work-with-us {
  width: 150px;
  height: 30px;
  background-color: orangered;
  border: 0;
}
.work-with-us:hover {
  background-color: orange;
}

main {
  background-color: #17c2A4;
  height: 400px;
}
main i {
  font-size: 2rem;
}
@media (min-width: 480px) and (max-width: 767px) {
  main i {
    font-size: 1rem;
  }
}

.beautiful-team {
  background-color: #e7f1f8;
  height: 600px;
}
.beautiful-team img {
  width: 180px;
  height: 180px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .beautiful-team img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .beautiful-team i {
    font-size: 0.6rem;
  }
}

.circular-progress {
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  background: #f0f0f0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 481px) and (max-width: 767px) {
  .circular-progress {
    font-size: x-small;
  }
}
.circular-progress span {
  position: relative;
  z-index: 1;
}

.text-pink {
  color: #e91e63 !important;
}

.portofolio {
  background-color: #FFDD99;
  min-height: 500px;
}
.portofolio button {
  border: 0;
  background-color: rgb(33, 145, 70);
  height: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.portofolio button:hover {
  background-color: green;
}

.about-us {
  background-color: #d74680;
}
.about-us img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
@media (min-width: 481px) and (max-width: 767px) {
  .about-us img {
    width: 90px;
    height: 90px;
  }
}

.get-in-touch {
  background-color: #3c5499;
  height: 400px;
}
.get-in-touch button {
  border: 0;
}
.get-in-touch button:hover {
  background-color: rgb(33, 49, 84);
}
.get-in-touch input, .get-in-touch textarea {
  background-color: rgb(38, 59, 103);
  border: 0;
  color: white;
  font-size: small;
}

.portofolio-btn button {
  background-color: rgb(238, 225, 196);
  border: 0;
  width: 60px;
}
.portofolio-btn button:hover {
  background-color: white;
  cursor: pointer;
}

footer {
  background-color: #344B8E;
  height: 50px;
  color: white;
}
footer a {
  margin-right: 20px;
}
footer a:hover {
  color: rgb(64, 131, 224);
  cursor: pointer;
}
@media (min-width: 481px) and (max-width: 767px) {
  footer a {
    font-size: xx-small;
  }
}

.people-say11, .people-say12 {
  flex-wrap: nowrap;
}

@media (min-width: 481px) and (max-width: 767px) {
  .menu-icon {
    display: block;
  }
  .slack-menu {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  h3 {
    font-size: medium;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  h2 {
    font-size: large;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  a, p {
    font-size: x-small;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  h5 {
    font-size: small;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  h6 {
    font-size: small;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  button {
    font-size: x-small;
  }
}

/*# sourceMappingURL=sass.css.map */
