body{
   margin: 0;
   box-sizing: border-box;
}
header{
background-color:#87509c;
padding:  5px;
height: 300px;
  h2{
  font-weight:bold;
  font-family: cursive;
  margin-top: 0;
  display: inline;
 
}

.menu-container {
    position: relative;
}
.menu-icon{
    display: none;
    float: right;
    font-size: large;
    margin-right: 20px;
    margin-top: -5px;
    cursor: pointer;
    transition: 0.3s;
   
}
 @media (min-width:481px) and (max-width:767px){
.menu-icon{
    display: block;
}
 }

 .slack-menu{
  
  display: block; 
  
  padding-top: -20px;
  right: 60px;

}
@media (min-width:480px) and (max-width:767px){
.slack-menu{
 display: none;

}
}
 .slack-menu a{
  margin-right: 30px;
  color:white;
  text-decoration: none;
   
  
}
& .slack-menu a:hover{
 
 background-color: rgb(59, 14, 59);
}
}

.work-with-us{
  width: 150px;
  height: 30px;
  background-color: orangered;
  border:0;
  &:hover{
    background-color: orange;
  }
  
}
main{
  background-color:#17c2A4;
  height: 400px;
  i{
    font-size: 2rem;
  }
  @media (min-width:480px) and (max-width:767px){
  i {
      font-size: 1rem;
    }
  }
}
.beautiful-team{
 background-color: #e7f1f8;
 height: 600px;
 img{
     width: 180px;
    height: 180px;
 }
 @media (min-width:481px) and (max-width:767px){
img{
  width: 50px;
  height: 50px;

}
 }
 
@media (min-width:481px) and (max-width:767px){
i{
 font-size: 0.6rem;
}
}

}

$skills: (
  "web-design": (color: #40b1e1, percent: 90),
  "html-css":   (color: #d63384, percent: 75),
  "graphic":    (color: #1abc9c, percent: 70),
  "ui-ux":      (color: #e67e22, percent: 85)
);

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px
);

@mixin respond-to($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);
  
  @media (max-width: $value) {
    @content;
  }
}

$circle-size: 150px;
$border-thickness: 10px; 
$inner-gap: 90%; 


.skills-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;

  .skill-card {
    text-align: center;
    
    .progress-circle {
      width: $circle-size;
      height: $circle-size;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 15px;
      transition: transform 0.3s ease;
      cursor: pointer;

      span {
        font-size: 1.5rem;
        font-weight: bold;
      }

      &:hover {
        transform: scale(1.1);
      }
     @include respond-to("md") {
    width: 100px; 
    height: 100px;
    
    span {
      font-size: 1rem; 
    }
  }

  @include respond-to("sm") {
    width: 80px; 
    height: 80px;
  }
}
    }

  }




@each $name, $data in $skills {
  .skill-card.#{$name} {
    .progress-circle {
      background: 
        radial-gradient(closest-side, white $inner-gap, transparent 0),
        conic-gradient(map-get($data, color) (map-get($data, percent) * 1%), #e9ecef 0);
    }
  }
}





.text-pink { 
  color: #e91e63 !important; 
}
.portofolio{
  background-color: #FFDD99;
 min-height:500px;
  button{
    border: 0;
    background-color: rgb(33, 145, 70);
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  & button:hover{
    background-color: green;
  }
}
.about-us{
   background-color: #d74680;
    img{
    width: 150px;
    height: 150px;
    margin-right: 20px;
   }
  
 @media (min-width:481px) and (max-width:767px){
img{
  width: 90px;
  height: 90px;

}
 }

}
.get-in-touch{
  background-color: #3c5499;
  height: 400px;
   button{
    border:0;
   }
  & button:hover {
  background-color:rgb(33, 49, 84); 
  } 
   input , textarea{
   background-color:rgb(38, 59, 103);
   border: 0;
   color:white;
   font-size: small;
  } 
  
}
.portofolio-btn{
  button{
    background-color:rgb(238, 225, 196); 
    border: 0;
    width: 60px;  
  }
  & button:hover{
    background-color: white;
    cursor: pointer;
  }
  
}
footer{
   background-color: #344B8E;
      height: 50px;
   color: white;
    a{
    margin-right: 20px;
    }
   & a:hover{
   color: rgb(64, 131, 224);
   cursor: pointer;
   }
   
   


  @media (min-width:481px) and (max-width:767px){
 a {
    font-size: xx-small;
   }
}
   
}
.people-say11{
  flex-wrap: nowrap;
}
.people-say12{
  @extend .people-say11;
}


@media (min-width:481px) and (max-width:767px){
.menu-icon{
    display: block;
}

.slack-menu{
    display: none;
}
}


h3{
   @media (min-width:481px) and (max-width:767px){
    font-size:medium;
}
}
h2{
  @media (min-width:481px) and (max-width:767px){
    font-size:large;
} 
}

a,p{
   @media (min-width:481px) and (max-width:767px){
    font-size:x-small;
}
}
h5{
   @media (min-width:481px) and (max-width:767px){
    font-size:small;
} 
}
h6{
   @media (min-width:481px) and (max-width:767px){
    font-size:small;
} 
}
button{
   @media (min-width:481px) and (max-width:767px){
    font-size:x-small;
} 
}